<table>
    <tr>
        <td>
            <img src="http://23.253.41.15/static/img/logo.png" alt="ilCupone">
            <h1>Un amigo te ha enviado esta sugerencia:</h1>
            <h4>Detalles del cupon</h4>
            <table>
                <tr>
                    <td>
                        <h3>{{name}}</h3>
                        <p>{{description}}</p>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="code">
                            Expira el: <br />{{expireDate}}
                        </div>
                    </td>
                </tr>
            </table>
            <p>
                <a href="http://ilcupone.com/oferta/{{cpId}}">Ver el Cupon</a>
            </p>
        </td>
    </tr>
</table>